*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
html{
    background-image:url(../assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 676px;
}
.container{
    width: 1304px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    color: red;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

a{  
    position: relative;
    text-decoration: none;
    color: #ffff;
    bottom: 15px;
    font-size: 14px;
    line-height: 55px;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 0.28px;
    font-family:'Ubuntu', sans-serif;
}
a:hover{
    color: red;
    transition: 0.5s;
}
img{
    width: 200px;
    height: auto;
    position: relative;
    top:50px;
    left: 40px;
}
h1{
    position: relative;
    font-family: 'Ubuntu';
    font-size: 59px;
    line-height: 64.9px;
    letter-spacing: 1.475px;
    text-align: start;
    color: #ffff;
    left: 40px;
    top: 50px;
}
p{
    position: relative;
    font-family: 'Ubuntu';
    font-size: 15px;
    line-height: 21px;
    text-align: start;
    color: #ffff;
    left: 40px;
    top:15px; 
}
.botao{
    width: 143px;
    height: 52px;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family:'Ubuntu' ;
    color: #ffff;
    top: 20px;
    left: 40px;
}
.botao:hover{
    background-color: #fd861f;
}